.WorldView__world___JS93L {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.WorldView__row___1aEqy {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  height: 20px;
}

.WorldView__column___1rtmG {
  flex: 0 0 20px;
  border: 1px solid black;
  position: relative;
}

.WorldView__alive___z8wDi, .WorldView__dead___csDFF {
  background-color: white;
}

.WorldView__innerDiv___4d9F- {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 16px;
  height: 16px;
}

.WorldView__innerAlive___3H8FR {
  background-color: black;
}

.WorldView__innerDead___3Ky76 {
  background-color: transparent;
}
.Controls__controls___1u4Tp {
  display: flex;
  max-width: 400px;
  flex-direction: row;
  padding: 12px;
  border: 1px solid black;
}

.Controls__firstColumn___2PmXV {
  flex: 0 0 80px;
  display: flex;
  flex-direction: column;
}

.Controls__secondColumn___13C5D {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.Controls__row___1uCW- {
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.Controls__inputGroup___2UCpf {
  display: flex;
  padding-left: 12px;
  margin-top: 6px;
  flex: 1 1 auto;
  display: flex;
}

.Controls__inputGroup___2UCpf input {
  flex: 1 1 auto;
  border: 1px solid black;
  height: 24px;
  margin: 0;
}

.Controls__inputGroup___2UCpf input[type="number"] {
  padding-left: 4px;
  font-size: 14px;
}

.Controls__inputGroup___2UCpf input[type="range" i] {
  color: black;
  -webkit-appearance: none;
  border: 1px solid black;
}

.Controls__inputLabel___BYh4X {
  flex: 0 0 80px;
}

.Controls__step___xA94Q {
  flex: 1 1 auto;
  padding-top: 3px;
  border: 1px solid black;
  text-align: center;
}

.Controls__button___1Ww9E {
  flex: 1 1 auto;
  width: 100%;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

.Controls__startButton___3Hs38 {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.Controls__stopButton___2viTd {
  color: white;
  background-color: black;
  border: 1px solid white;
}

.Controls__startButton___3Hs38:hover {
  background-color: rgba(0, 0, 0, 0.13);
}

.Controls__stopButton___2viTd:hover {
  background-color: rgba(0, 0, 0, 0.87);
}

.Controls__clearButton___3XqQd {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.Controls__clearButton___3XqQd:hover {
  background-color: rgba(0, 0, 0, 0.13);
}

.Controls__clearButton___3XqQd:active {
  background-color: rgba(0, 0, 0, 0.26);
}
.Simulator__simulator___3VnM_ {
  margin: 12px;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
